@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body{
    color: #ffffff;
    background-color: #122b46;
    background: url("../images/background.png") no-repeat fixed;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    word-spacing: 2px;
    min-height: 500px;
}

a{
    text-decoration: none;
    transition: 250ms;
}

a:hover{
    text-decoration: underline;
    cursor: pointer;
}

#page #header #navigatebar .barbutton{
    color: #ffffff;
}

#page #header #navigatebar .barbutton:hover{
    color: #ffffff;
    font-size: 25px;
    transition: 250ms linear;
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    width: 5px;
}
    
::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}
     
::-webkit-scrollbar-thumb {
    background: rgb(46, 46, 56);
    border-radius: 12px;
}
    
::-webkit-scrollbar-thumb:hover {
    background: rgb(34, 34, 34); 
}

*{
    scrollbar-color: rgb(46, 46, 56) rgb(0, 0, 0);
    scrollbar-width: 10px;
}

@keyframes loadinganimation{
    to{background-color: #a9a9a9;rotate: 360deg;}
}

@keyframes slowshow{
    from{opacity: 0;}
    to{opacity: 100;}
}

@keyframes slideup{
    from{transform: translateY(40%);}
}

#loading{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background-color: #ffffff;
    position: fixed;
    top: 50%;
    left: 50%;
    animation-name: loadinganimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#page{
    animation: slowshow;
    animation-duration: 1s;
}

#page #header{
    position: fixed;
    background-color: #5b1ea633;
    /*background: linear-gradient(200deg,rgba(91, 30, 166, 0.281) 0%,rgba(83, 59, 128, 0.281) 100%);*/
    padding: 20px 100% 80px 20px;
    top: 0%;
    left: 0%;
}

#page #header .sticky{
    padding: 5px 100px;
    background: #fff;
}
#page #header .sticky1{
    padding: 5px 100px;
    background: rgb(209, 209, 209);
}

#page #header #logotext{
    position: fixed;
    left: 5%;
    top: 3%;
    font-size: 35px;
    text-decoration: none;
    /*Disable text selection*/
    -ms-user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    user-select:none;
}

#page #header #navigatebar{
    color: #e9e9e9;
    position: fixed;
    right: 5%;
    top: 3%;
    /*Disable text selection*/
    -ms-user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    user-select:none;
}