#page #content .box1{
    width: 65%;
    height: 100%;
    padding-bottom: 50px;
    background-color: #ffffff;
    border-radius: 20px;
    color: #000000;
    position: absolute;
    left: 5%;
    top: 20%;
    animation-name: slideup;
    animation-duration: 1s;
}

#page #content .box1 .postheader{
    font-size: 25px;
    position: absolute;
    left: 2%;
    transition: 200ms;
}

#page #content .box1 .postheader:hover{
    font-size: 30px;
    transition: 200ms;
}

#page #content .box1 .code{
    position: absolute;
    left: 4%;
}